<div id ="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>
      The Queen is to stress the value of self-discipline and resolve during the coronavirus pandemic in a special address to the nation on Sunday.
      In a rare speech, she will acknowledge the grief, pain and financial difficulties Britons are facing during this "time of disruption".
      She will also thank NHS staff and key workers, and emphasise the important role individuals can play.
      Her address will be broadcast on TV, radio and social media at 20:00 BST.
      The Queen is expected to say: "I am speaking to you at what I know is an increasingly challenging time.
      "A time of disruption in the life of our country: a disruption that has brought grief to some, financial difficulties to many, and enormous changes to the daily lives of us all."
    </p>
  </div>
</div>
